html body {
    background-color: #D8D8D8;

}
.navbar-brand {
    text-transform: uppercase;
    font-weight: 400px;	
}

.navbar-nav {
    letter-spacing: 1px;
}

.carousel-inner {
  height: 580px;
}
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: white;
  text-align: center;
}

.gallery {
    margin: 5px;
    border: 3px solid #1111;
    float: left;
    width: 550px;
	
}

.gallery:hover {
    border: 5px solid #888888;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
	border: 30px;
}

.row{
	float: right;
}

.h3 {
	float: right;	
}

.fa {
  padding: 20px;
  font-size: 500px;
  width: 350px;
  text-align: center;
  text-decoration: none;

}

.fa:hover {
    opacity: 15;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}





