<!DOCTYPE HTML>

	<head>

		<title> Contact Us</title> 
		<link href="../static/css/stylesheet.css" rel="stylesheet">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="icon" type="1/png" href="../static/img/1.png"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>

		<center> <img src= "../static/img/contactus.png" alt="" width="500"> </center>
			<div class="container">
				<!-- mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!--  on larger screens, but visible when the menu is collapsed -->
					<a class="navbar-brand" href="index.html"></a>
				</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav">
				<li><a href="/">HOTELinn</a></li>
				<li><a href="localattraction">Local attraction</a></li>
				<li><a href="Bookingpage">Booking page </a></li>
				<li><a href="contactus">Contact Us</a></li>
				<li><a href="reviews">Reviews</a></li>
			</ul>
			</div>

		<div class="row">	
		<!--bringing up the map from google to the custom place -->
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d77498.60444367977!2d1.2538886905154034!3d52.62689103779906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d0aad55133f513%3A0x684ca5e00e12452f!2sNorwich!5e0!3m2!1sen!2suk!4v1512715864158" width="1150" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>

		<center>
		<!--contact details -->
			<a href="https://www.facebook.com/Hotel-INN-1518954524818789/" class="fa fa-facebook"></a>
			<a href="https://twitter.com/Hotel__INN" class="fa fa-twitter"></a>
			<a href="https://plus.google.com/u/1/101267870247703131976" class="fa fa-google"></a>
		</center>

		<div class="container">
			<div class="footer">This website was created by <strong>ibrahim and niv 2017</strong>.</div>
		</div>
	
	

	</body> 
</html>
