<!DOCTYPE HTML>

	<head>

		<title> local attractions</title> 
		<link href="../static/css/stylesheet.css" rel="stylesheet">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="icon" type="1/png" href="../static/img/1.png"/>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>


	<body>
		<center> <img src= "../static/img/localattractions.png" alt="" width="500"> </center>
			<div class="container">
					<!-- mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!--  on larger screens, but visible when the menu is collapsed -->
						<a class="navbar-brand" href="index.html"></a>
					</div>
					
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
				  <li><a href="/">HOTELinn</a>
				  <li><a href="localattraction">Local attraction</a></li>
				  <li><a href="Bookingpage">Booking page </a></li>
				  <li><a href="contactus">Contact Us</a></li>
				  <li><a href="reviews">Reviews</a></li>
				</ul>
			</div>
		</div>		
		<!--this is the different locations where you can clock the picture to go to the website -->		
			<div class="container">
				<div class="gallery">		
				  <a target="_blank" href="https://www.cathedral.org.uk">
					<img src="../static/img/test1.jpg" alt="Norwich Cathedral" width="600" height="400">	
				  </a>
			  <div class="desc"><strong>Norwich Cathedral (Architectural Building, Sacred  & Religious Site)<br></strong><p><strong>Address:</strong> 65 The Close, Norwich NR1 4DH, England</p>Telephone: +44 1603 218300<br>Email: reception@cathedral.org.uk
			</div>
			</div>
			<div class="gallery">
			  <a target="_blank" href="https://secure.theatreroyalnorwich.co.uk/Online/">
				<img src="../static/img/test2.jpg" alt="Norwich Theatre Royal" width="600" height="400">
			  </a>
			<div class="desc"><strong>Norwich Theatre Royal (Theatres, Concerts & Shows)<br></strong><p><strong>Address:</strong> Theatre Street, Norwich NR2 1RL, England</p>Telephone: +44 1603 630000<br>Email: info@theatreroyalnorwich.co.uk
			</div>
			</div>
			
			<div class="gallery">
			  <a target="_blank" href="http://www.radarmuseum.co.uk" >
				<img src="../static/img/test3.png" alt="RAF Air Defence Radar System" width="600" height="400">
			  </a>
			  <div class="desc"><strong>RAF Air Defence Radar System (Military Museum)<br></strong><p><strong>Address:</strong> RRH Neatishead, Horning, Norwich NR12 8YB, England</p>Telephone: +44 1692 631485<br>Email: curator@radarmuseum.co.uk<br>
			</div>
			</div>

			<div class="gallery">
			  <a target="_blank" href=" http://highballclimbingnorwich.com">
				<img src="../static/img/test4.jpg" alt="Highball Climbing" width="600" height="400">
			  </a>
			<div class="desc"><strong>Highball Climbing (Game & Entertainment Centres, Fun % Games)</strong><p><strong>Address:</strong> 1 Twickenham Road | Union Park, Norwich NR66NG, England</P>Telephone:+44 1603 513513<br>Email:hello@highballnorwich.co.uk<br>
			</div>
			</div>		 
			</div>
			<br>
			<br>
					
	
			<div class="container">
				<div class="footer">This website was created by <strong>ibrahim and niv 2017</strong>.</div>
			</div>	
		

	</body>
</html>

